*.iml
.kotlin
.gradle
**/build/
!composeApp/src/**/kotlin/com/nuvio/app/core/build/
!composeApp/src/**/kotlin/com/nuvio/app/core/build/**
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
logs/
Docs
keystore/
scripts/build-distribution.sh
asset
scripts/scrape_android_compose_animation_docs.py
hs_err_pid6368.log
hs_err_pid25104.log
replay_pid6368.log
replay_pid25104.log
.junie/AGENTS.md
.vscode/mcp.json
.aider*
.claude
tools
AGENTS.md
MPVKit~5fb414ea2f6286f728bb07b84bd70725be59e182
